   {{>header}}
   {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">


                    <div class="col-md-6  col-12 main_header_left">
                        <figure>
                            <img src="images/p6.png" alt="">
                        </figure> 
                     </div>

                    <div class="col-md-6  col-12 main_header_left">
                    <p>Welcome to Wheather App</p>
                    <h1>I'M  Computer Science Student  <span class="text_clr"> And </span> Full Stack Developer</h1>
                    <a href="https://surya-prakash-mmmut99.github.io/resume/" target="_blank"> <button>Know More</button></a>
                    </div>

                   

                </div>
            </div>
        </div>
    </div>

{{>footer}}