   {{>header}}
   {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">


                    <div class="col-md-12  col-12 main_header_left align-items-center">
                        <figure class="error">
                            <img src="images/error.png" alt="">
                        </figure> 
                     

                   
                    <p>Welcome to ComputechSurya</p>
                    <h1>Opps!Page Not Found </h1>
                    <a href="/"> <button>Go Back</button></a>
                   </div>
                   

                   

                </div>
            </div>
        </div>
    </div>

{{>footer}}